.contact-main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

#map {
    height: 400px;
    width: 500px;
    margin: 0;
    padding: 0;
}

.time-text {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
}

.accent-text {
    color: #BC3A80;
}


.subtitle2 {
    font-weight: 400;
    font-size: .3em;
    margin-bottom: 1.5rem;
}